build/index.html
<!DOCTYPE HTML >
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Comprar y Vender Divisas</title>
    <meta name="description" content=""/>
    <meta name="author" content="Itáu Dev Team"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="assets/img/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <!-- Adjuntamos Nuestros CSS-->
    <link href="assets/css/estilos.css" rel="stylesheet" type="text/css"/>
    <link href="assets/css/flex.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <!-- Agregamos el contenido de nuestra App aquí-->
    <p>Hello world! This is HTML5 Boilerplate.</p>
    <!-- Contenido Full-->
    <div class="content-xxl">
      <!-- Tres columnas-->
      <div class="grid-3">
        <div>uno</div>
        <div>dos</div>
        <div>tres</div>
      </div>
    </div>
    <!--Cotenido Grande		-->
    <div class="caja-padre">
      <div>uno</div>
      <div>dos</div>
      <div>tres</div>
    </div>
  </body>
</html>

src/pug/index.pug
doctype HTML 
html
	head
		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		title Comprar y Vender Divisas
		meta(name="description" content="")
		meta(name="author" content="Itáu Dev Team")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(href="assets/img/favicon.ico" rel="shortcut icon" type="image/x-icon")
		// Adjuntamos Nuestros CSS
		link(href="assets/css/grid.css" rel="stylesheet" type="text/css")
		link(href="assets/css/flex.css" rel="stylesheet" type="text/css")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css")
	body
		// Agregamos el contenido de nuestra App aquí
		p Hello world! This is HTML5 Boilerplate.
		// Contenido Full
		div.content-xxl
			// Tres columnas
			div.grid-3
				div uno
				div dos
				div tres
		//Cotenido Grande		
		div.caja-padre
			div uno
			div dos
			div tres
